@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root{
    --primary-100: #fae8ff;
    --primary-200: #f5d0fe;
    --primary-300: #f0abfc;
    --primary-400: #e879f9;
    --primary-500: #d946ef;
    --primary-600: #c026d3;
    --primary-700: #a21caf;
    --primary-800: #86198f;
    --primary-900: #701a75;
    --grey-50: #f8fafc;
    --grey-100: #f1f5f9;
    --grey-200: #e2e8f0;
    --grey-300: #cbd5e1;
    --grey-400: #94a3b8;
    --grey-500: #64748b;
    --grey-600: #475569;
    --grey-700: #334155;
    --grey-800: #1e293b;
    --grey-900: #0f172a;
    --black: #222;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;
    --small-text: .875rem;
    --extra-small-text: .7em;
    --backgroundColor: var(--grey-50);
    --textColor: var(--grey-900);
    --borderRadius: .25rem;
    --letterSpacing: 1px;
    --transition: .3s ease-in-out all;
    --trans: all 1s linear;
    --max-width: 1120px;
    --fixed-width: 600px;
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 10px 10px -5px rgba(0, 0, 0, .04);
    }
    body{
      background-color: var(--primary-300);
      @apply mb-5
    }
    #root{
      @apply bg-white p-6 rounded-md ;
      margin: 3% auto 0;
      width: 40%;
      box-shadow: var(--shadow-2);
    }
    .nav-container{
      @apply  text-2xl font-medium mb-5 lg:text-3xl
    }
    .person{
      @apply flex mt-5 items-center
    }
    .image{
      @apply rounded-full;
      width: 80px;
      height: 80px;
    }
    .person-details-container{
      @apply ml-4;
    }
    .person-details-container h3{
      @apply text-lg font-medium text-slate-800 tracking-wide md:text-xl lg:text-2xl 
    }
    .person-details-container h4{
      @apply text-sm font-medium text-slate-600 leading-4 md:text-base lg:text-base
    }
    .remove{
      @apply text-sm font-medium;
      color: var(--primary-700);
    }
    .clear{
      background-color: var(--primary-600);
      transition: var(--trans);
      @apply text-white font-medium text-base w-full py-0.5 mt-2 cursor-pointer shadow-lg 
    }
    .clear:hover{
      @apply opacity-40;

    }
  }

  @media (max-width:800px) {
    #root{
      margin: 20% auto 0;
      width: 91%;
    }
  }